<section id = "signIn">
    <div class="container">
        <div class="form">
            <form>
                <div class="row">
                    <div class="col-12 mt-2">
                        <input placeholder="Enter Your Email"/>
                    </div>
                    <div class="col-12 mt-2">
                        <input placeholder="Enter Password"/>
                    </div>
                </div>
                <button class="btn form-control mt-2">Sign In</button>
            </form>
        </div>
    </div>
</section>
